{{!--
This template is used for the index page.
It can be used also as the home page or the default page.
--}}
{{!-- This block preloads specific assets for the index page --}}
{{#contentFor "preload"}}
<link rel="preload" href="{{asset "css/home.css"}}" as="style" />
<link rel="preload" href="{{asset "css/listing.css"}}" as="style" />
<link rel="preload" href="{{asset "js/home.js"}}" as="script" />
{{/contentFor}}
{{!-- This block loads specific styles for the index page --}}
{{#contentFor "styles"}}
<link rel="stylesheet" type="text/css" href="{{asset "css/home.css"}}" media="screen" />
<link rel="stylesheet" type="text/css" href="{{asset "css/listing.css"}}" media="screen" />
{{/contentFor}}
{{!-- The tag below means: insert everything in this file
into the {body} of the default.hbs template --}}
{{!< default}}
{{!-- Special header.hbs partial to generate the
<header>
  tag --}}
{{> header background=@site.cover_image}}
<main class="main-wrap">
  {{!-- Inject styles of the hero image to make it responsive --}}
  {{> hero background=@site.cover_image}}
  <div class="m-hero__content" data-animate="fade-down">
    <h1 class="m-hero-title bigger">{{@site.title}}</h1>
    {{#if @site.description }}
      <p class="m-hero-description bigger">{{@site.description}}</p>
    {{/if}}
    {{#if @custom.use_custom_cta }}
      <a href="{{@custom.custom_cta_url}}" class="m-button filled">{{@custom.custom_cta_text}}</a>
    {{else}}
      {{#if @site.members_enabled }}
        <a href="{{@site.url}}/newsletter" class="m-button filled js-newsletter">{{t "Subscribe"}}</a>
      {{/if}}
    {{/if}}
  </div>
  </section>
  <section id="introduction">
    <div class="m-showcase-container">
      <div class="m-showcase-item">
        <div class="m-showcase-item-text">
          <h1>I love to transform ideas into code!</h1>
          <p>
          <ul>
            <li>
              As a dedicated software developer specializing in frontend development, I have a solid foundation in HTML,
              CSS, JavaScript and Python.
            </li>
            <li>
              I love to use my skills along with elegant libraries like React and powerful
              frameworks like FastAPI to create highly interactive, visually captivating and functionally flawless web
              applications.
            </li>
          </ul>
          </p>
        </div>
      </div>
      <div class="m-showcase-item">
        <img class="m-showcase-item-image" src="https://www.neelaundhia.com/content/images/static/code-typing.svg"
          alt="Code Typing Illustration">
      </div>
    </div>
    <div class="m-showcase-container m-showcase-container-reverse">
      <div class="m-showcase-item">
        <img class="m-showcase-item-image"
          src="https://www.neelaundhia.com/content/images/static/server-configuration.svg"
          alt="Server Configuration Illustration">
      </div>
      <div class="m-showcase-item">
        <div class="m-showcase-item-text">
          <h1>Building bridges between code and infrastructure, one deployment at a time!</h1>
          <ul>
            <li>
              Proficiency in the Debian and Ubuntu flavours of Linux coupled with hands-on experience in KVM and
              ProxmoxVE, enables me to efficiently manage the IT infrascture for companies.
            </li>
            <li>
              Through my experience in containerization using Docker Compose, and Kubernetes (K3S), I facilitate
              streamlined development and scalable deployments.
            </li>
            <li>
              Additionally, my conversance GitHub Actions for CI/CD helps me ensure automated and efficient software
              delivery for clients.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="m-showcase-container">
      <div class="m-showcase-item">
        <div class="m-showcase-item-text">
          <h1>Be it people or things, they work better when connected!</h1>
          <p>
            <ul>
              <li>
                Adept at Python, Embedded C and C++, I possess the skills needed to develop robust end-to-end IoT
                applications.
              </li>
              <li>
                My familiarity with FastAPI allows me to build efficient and scalable APIs for seamless integration.
              </li>
              <li>
                Additionally, my experience with MQTT, AMQP, InfluxDB, Grafana, GPRS Telemetry, and LoRaWAN empowers me to
                design and implement advanced data collection, storage, and visualization systems.
              </li>
              <li>
                Leveraging platforms like Raspberry Pi, ESP32, and AVR ATmega, I have successfully delivered end-to-end
                IoT
                solutions.
              </li>
            </ul>
          </p>
        </div>
      </div>
      <div class="m-showcase-item">
        <img class="m-showcase-item-image" src="https://www.neelaundhia.com/content/images/static/smart-home.svg"
          alt="Smart Home Ilustration">
      </div>
    </div>
    <div class="m-showcase-container m-showcase-container-reverse">
      <div class="m-showcase-item">
        <img class="m-showcase-item-image" src="https://www.neelaundhia.com/content/images/static/climate-change.svg"
          alt="Climate Change Illustration">
      </div>
      <div class="m-showcase-item">
        <div class="m-showcase-item-text">
          <h1>There is no planet B!</h1>
          <p>
          <ul>
            <li>
              As I immerse myself in the world of coding, I also find solace and inspiration in the beauty of our
              natural
              surroundings.
            </li>
            <li>
              Long treks amidst majestic mountains, tranquil forests, and breathtaking landscapes invigorate
              my spirit and ignite my creativity.
            </li>
            <li>
              I am dedicated to utilizing my skills and knowledge to
              contribute to the global effort to combat climate change. Join me on this journey as we explore the
              intersection of technology and nature, working together to create innovative solutions that pave the way
              for
              a more sustainable world.
            </li>
          </ul>
          </p>
        </div>
      </div>
    </div>
  </section>
  <section id="clients">
    <h1 style="text-align: center;">Clients</h1>
    <div class="m-showcase-client-container">
      <div class="m-showcase-client-wrapper">
        <a target="_blank" href="https://www.indianrail.gov.in/">
          <img class="m-showcase-client-image"
            src="https://www.neelaundhia.com/content/images/static/logo/indianrailways-logo.png" alt="Indian Railways Logo">
          <h3 style="text-align: center;">Indian Railways</h3>
        </a>
      </div>
      <div class="m-showcase-client-wrapper">
        <a target="_blank" href="https://ddpdoo.gov.in/units/OFC">
          <img class="m-showcase-client-image"
            src="https://www.neelaundhia.com/content/images/static/logo/ordnancefactory-logo.png"
            alt="Ordnance Factory Kanpur Logo">
          <h3 style="text-align: center;">OFC Kanpur</h3>
        </a>
      </div>
      <div class="m-showcase-client-wrapper">
        <a target="_blank" href="https://www.iitk.ac.in/">
          <img class="m-showcase-client-image" src="https://www.neelaundhia.com/content/images/static/logo/iitk-logo.png"
            alt="Indian Institute of Technology Kanpur Logo">
          <h3 style="text-align: center;">IIT Kanpur</h3>
        </a>
      </div>
      <div class="m-showcase-client-wrapper">
        <a target="_blank" href="https://pharmeasy.in/">
          <img class="m-showcase-client-image"
            src="https://www.neelaundhia.com/content/images/static/logo/pharmeasy-logo.png" alt="Pharmeasy Logo">
          <h3 style="text-align: center;">Pharmeasy</h3>
        </a>
      </div>
      <div class="m-showcase-client-wrapper">
        <a target="_blank" href="https://www.medcords.com/">
          <img class="m-showcase-client-image" src="https://www.neelaundhia.com/content/images/static/logo/medcords-logo.png"
            alt="Medcords Logo">
          <h3 style="text-align: center;">Medcords</h3>
        </a>
      </div>
      <div class="m-showcase-client-wrapper">
        <a target="_blank" href="https://www.indigoreels.com/">
          <img class="m-showcase-client-image"
            src="https://www.neelaundhia.com/content/images/static/logo/indigoreels-logo.png" alt="Indigoreels Logo">
          <h3 style="text-align: center;">Indigoreels</h3>
        </a>
      </div>
    </div>
  </section>
  <section id="experience">
    <h1 style="text-align: center;">Experience</h1>
    <div class="m-experience-container">
      <div class="m-experience-item">
        <div class="m-experience-item-logo">
          <img src="https://www.neelaundhia.com/content/images/static/logo/starxmedia-logo.png">
        </div>
        <div class="m-experience-item-text">
          <h2 class="m-experience-item-text-company">StarXMedia</h2>
          <p>Software Developer | Contract</p>
          <ul>
            <li>Developed the primary portal for StarXMedia with React and FastAPI which allows users to schedule advertisements and content on IoT enabled displays and kiosks.</li>
            <li>Deployed the portal using Traefik, Docker, Docker Compose and Kubernetes (K3S).</li>
            <li>Worked with frontend technologies like HTML, CSS, JS, React, Redux Toolkit and RTK Query.</li>
            <li>Worked with JWT Token authentication by Auth0 for React.</li>
          </ul>
        </div>
      </div>
      <div class="m-experience-item">
        <div class="m-experience-item-logo">
          <img src="https://www.neelaundhia.com/content/images/static/logo/neelaundhia-logo.png">
        </div>
        <div class="m-experience-item-text">
          <h2 class="m-experience-item-text-company">Neel Aundhia Associates</h2>
          <p>IT Consultant | Contract</p>
          <ul>
            <li>Developed websites for multiple clients using HTML, CSS, JS, Bootstrap, Ghost and WordPress.</li>
            <li>Deployed different payloads at scale for multiple clients using Traefik, Docker, Docker Compose and Kubernetes (K3S).</li>
            <li>Successfully completed multiple high-scale market research projects for a few startups in the pharmaceutical industry with Python, Selenium, BS4 and requests.</li>
          </ul>
        </div>
      </div>
      <div class="m-experience-item">
        <div class="m-experience-item-logo">
          <img src="https://www.neelaundhia.com/content/images/static/logo/iitk-logo.png">
        </div>
        <div class="m-experience-item-text">
          <h2 class="m-experience-item-text-company">Indian Institute of Technology, Kanpur</h2>
          <p>External Consultant | Contract</p>
          <ul>
            <li>Was responsible for developing a dashboard for aggregating and displaying the data collected from different machines on the shopfloor of Modern Coach Factory, Raebareli.</li>
            <li>Worked with technologies like HTML, CSS, JS, Python, RabbitMQ, AMQP, MQTT, Grafana and InfluxDB.</li>
            <li>Worked as the primary point of contact between the academic team at the Indian Institute of Technology, Kanpur and the professional team at Modern Coach Factory, Raebareli to facilitate rapid development of the Industry 4.0 platform.</li>
          </ul>
        </div>
      </div>
      <div class="m-experience-item">
        <div class="m-experience-item-logo">
          <img src="https://www.neelaundhia.com/content/images/static/logo/agsmartic-logo.png">
        </div>
        <div class="m-experience-item-text">
          <h2 class="m-experience-item-text-company">AgSmartic Technologies Pvt. Ltd.</h2>
          <p>IoT Engineer | Full-Time</p>
          <ul>
            <li>Was responsible for the end-to-end development of the Pestlytics® ecosystem which is a smart IoT enabled pest analytics solution.</li>
            <li>Worked with IoT technologies like Embedded C/C++, MQTT, GPRS, LoRaWAN, RaspberryPi, ESP32 and AVR ATmega for building the device firmware.</li>
            <li>Worked with Python, MQTT, SFTP, AWS and S3 for integrating it with the API as well as the dashboard.</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</main>
{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
<script defer src="{{asset "js/home.js"}}"></script>
{{/contentFor}}
